/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: $hbmblack;
	color: #656565;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	letter-spacing: 0.017em;
	font-size: 100%;
	font-family: $hbm;
	line-height: 1.5;
	-ms-hyphens: none;
}

.intro, .intro2 { color: #898989; }

.entry-content img.arrow_buttons { margin-bottom: .5em; }

.entry-content p:first-of-type { margin-top: -0.4em; }

ul.child-pages {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	li { margin: .5em 0; }
}

/* h1.page-title {
		margin: .5em 0 0; */

.dataTables_wrapper { padding: 1.5em 0; }

.tablepress { font-size: 11px;
	.column-2 { width: 80px; }
}

.hbpmeta {
	padding: 1em 0;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}

.ng-cloak {
  display: none;
}

.pul {
	margin: 0 0 1.5em;
	padding: 0 0 0 18px;
	list-style-type: square;
	li { 
	color: #08c;
	}
}

input#s {
	position: relative;
	top: 5px;
	margin-right: 1em;
	width: 300px;
	height: 42px;
}

input#searchsubmit {
	padding: .5em 1em;
	background: #08c;
	font-size: 1.2em;
	font-family: 'Lato';
}

.unlock_client { 
	margin-top: 2em;
	a.btn { 
	background: #08c;
	color: #fff;
		&:hover, &:focus { color: #555; }
	}
}

.hbpmetaplan {
	font-size:1.1em;
	font-weight:700;
	color:#ccc;
}

.client-guide {
	float: left;
	width: 320px;
	margin-bottom: 1.5em;
	img { 
		width: 96px;
		height: 124px;
		float: left;
		margin-right: 12px;
	}
}

hr {
	margin: 0;
	border-top: 0;
	border-bottom: 1px solid #333;
}

.thefaq { margin-bottom: 2em; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl { }                           /* for sites that are read right to left (i.e. hebrew) */
.home {
	h1.page-title {
		margin: .5em 0;
	}
}                          /* home page */
.blog { }                          /* blog template page */
.archive { }                       /* archive page */
.date { }                          /* date archive page */
	.date-paged-1 { }                /* replace the number to the corresponding page number */
.search { }                        /* search page */
	.search-results { }              /* search result page */
	.search-no-results { }           /* no results search page */
	.search-paged-1 { }              /* individual paged search (i.e. body.search-paged-3) */
.error404 { }                      /* 404 page */
.single { }                        /* single post page */
	.postid-1 { }                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 { }              /* individual paged single (i.e. body.single-paged-3) */
.attachment { }                    /* attatchment page */
	.attachmentid-1 { }              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type { }        /* style mime type pages */
.author { }                        /* author page */
	.author-nicename { }             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 { }              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category { }                      /* category page */
	.category-1 { }                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 { }            /* replace the number to the corresponding page number */
.tag { }                           /* tag page */
	.tag-slug { }                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 { }                 /* replace the number to the corresponding page number */
.page-template { }                 /* custom page template page */
	.page-template-page-php { }      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 { }                /* replace the number to the corresponding page number */
	.page-parent { }                 /* parent page template */
	.page-child { }                  /* child page template */
	.parent-pageid-1 { }             /* replace the number to the corresponding page number */
.logged-in { }                     /* if user is logged in */
.paged { }                         /* paged items like search results or archives */
	.paged-1 { }                     /* individual paged (i.e. body.paged-3) */
	
.faq {
	p:first-of-type { margin: 1em 0; }
	h5 a { color: $hbm-red; }
}
	
.hbp {
	h5 { 
	margin-top: 0;
	color: $hbm-red;
	}
	.features-trigger { color: $hbm-orange; cursor: pointer; }
	.hbp-features { 
		display: none;
		margin: 0;
		padding: 0 0 0 21px;
	}
	p.hbppage:first-of-type { font-size: 1.1em; }
}

.contact h1.page-title { margin-bottom: 0; }
	
.pricing h2 a.hpb-heading { color: $hbm-orange !important; }

.pricing {
	ul.list-square { padding: 0; }
	h1.page-title { margin-bottom: .5em; }
	h4 { margin-top: 0; }
}

.terms .term-headings { color: #999; font-weight: 700; }

.faq h5:first-of-type { margin-top: 0; }

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	margin: 0 auto;
	width: 96%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $hbm-orange;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $hbm-red;
		text-decoration: none;
	}

	/* on click */
	&:active {
		outline: none;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a img {
	&:hover, &:focus { opacity: 0.87; }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-weight: 500;
	font-family: $hbm;
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	margin-bottom: 0.375em;
	font-size: 1.75em;
	line-height: 1.4em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-weight: 700;
	font-size: 1.1em;
}

h5, .h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.846em;
	line-height: 2.09em;
}

/*********************
HEADER STYLES
*********************/

.header { }

	#logo { }

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav.footer-nav {
	margin-left: 0; 
	padding-left: 0;
	li { float: none;
		a { 
			display: block;
			padding-top: .25rem;
			padding-bottom: .25rem;
			color: #565656;
			font-weight: normal;
			font-size: .875rem;
			&:hover { color: #888 !important; }
		}
	}
	}

.nav {
	border: 0;
	border-bottom: 0;  /* end current highlighters */

	li {

		a {
			display: block;
			padding: 10px 10px;
			border-bottom: 0;
			/* background-color: 0; */
			text-decoration: none;
			font-size: .875rem;
			

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				background: none; 
			}
		}

		&:first-child { }

		&:last-child { }

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus { }

					&:link { }

				}

				&:first-child { }

				&:last-child { }

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a { }

	}

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	/* margin-top: 2.2em; */
}

		.hentry {

			header { }

			footer { }

		} /* end .hentry */

		.single-title,
		.page-title { }

		.single-title { }

		.page-title { }

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id { }         /* post by id (i.e. post-3) */
		.post { }            /* general post style */
		.page { }            /* general article on a page style */
		.attachment { }      /* general style on an attatchment */
		.sticky { }          /* sticky post style */
		.hentry { }          /* hentry class */
		.category-slug { }   /* style by category (i.e. category-videos) */
		.tag-slug { }        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time { }
		}

		/* entry content */
		.entry-content {

			p { }


			ul, ol, table, dl { }

			ul, ol {

				li { }

			}

			ul {

				li { }

			}

			ol {

				li { }

			}

			blockquote {

				&:before { }

			}

			dl { }

			dt { }

			dd {
				margin-bottom: 1.5em;
				margin-left: 0;
				color: #787878;
				font-size: 0.9em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft { }
			.alignright, img.alignright { }
			.aligncenter, img.aligncenter { }

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				padding: 10px;
				border: 1px solid #cecece;
				background: #eee;
			}

		} /* end .entry-content */

		.wp-caption {
			padding: 5px;
			max-width: 100%;
			background: #eee;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				max-width: 100%;
				width: 100%;
			}

			p.wp-caption-text {
				margin: 4px 0 7px;
				text-align: center;
				font-size: 0.85em;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a { }

				img { }

			}

			dt { }

			dd { }

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption { }

		.size-full { }
		.size-large { }
		.size-medium { }
		.size-thumbnail { }

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				position: relative;
				display: block;
				padding: 3px 6px;
				text-decoration: none;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			position: relative;
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus { }

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus { }
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus { }
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus { }
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus { }
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul { }

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span { }

}

.comment-nav {

	ul {

		li { }

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px; /* end .commentlist li ul.children */
		list-style-type: none;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li { }

			/* variations */
			.comment { }
			.alt { }
			.odd { }
			.even { }
			.depth-1 { }           /* change number for different depth */
			.byuser { }
			.bypostauthor { }
			.comment-author-admin { }

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-top: 0;
		margin-left: 0;
	}

	li:not(.depth-1) {
		margin-top: 0;
		margin-right: -10px;
		margin-left: -10px;
		padding-bottom: 0;
	}

	li.depth-2 { }
	li.depth-3 { }
	li.depth-4 { }
	li.depth-5 { }

	/* general comment classes */
	.alt { }
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent { }
	.comment { }
	.children { }
	.pingback { }
	.bypostauthor { }
	.comment-author { }
	.comment-author-admin { }
	.thread-alt { }
	.thread-odd { }
	.thread-even { }

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url { }

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo { }

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a { }

	}

	.commentmetadata {

		a { }

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		float: right;
		margin-bottom: 10px;
		padding: 3px 5px;
		background: #4598bb;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		font-size: 0.9em;
		opacity: 0.65;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			clear: both;
			margin-bottom: 0.7335em;
			list-style-type: none;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			border: 2px solid #cecece;
			background: #efefef;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
						box-shadow: none;
				    -ms-box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			min-width: 250px;
			max-width: 400px;
		}

		textarea {
			width: 97.3%;
			height: 150px;
			resize: none;
		}

	}
}

	/* comment submit button */
	#submit { }

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a { }
	}

	/* logged in comments */
	.comments-logged-in-as { }

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar { }

	.widgettitle { }

	.widget {

		ul {

			li {

				&:first-child { }

				&:last-child { }

				a { }

				/* deep nesting */
				ul { }

			}

		}

	}

/*********************
FOOTER STYLES
*********************/

#inner-footer {
	.tooltip { position: relative; }
}

.footer {
	clear: both;
}

.footer.footer { background: #333; }

	.article-footer { background: none; }

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li { }

		}

	} /* end .footer-links */


	.copyright { }

/*********************
GRAVITY FORMS STYLES
*********************/



.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
margin-right: 2.5em;
width: 90% !important;
height: 36px;
border: 0;
background: #444;
color: #08c;
font-size: 1.2em;
}

.gform_wrapper ul {
	margin: 0 0 .3em;
	padding: 0;
	list-style-type: none;
}

.gform_wrapper ul li.gfield {
display: inline-block;
clear: both;
}

.gform_wrapper .top_label .gfield_label {
/* display: -moz-inline-stack; */
display: inline-block;
clear: both;
margin: 10px 0 4px 0;
color: #999;
font-weight: bold;
line-height: 1.3em;
}

.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
float: left;
padding: 5px 2px 5px 2px;
outline-style: none;
letter-spacing: normal;
font-size: 11px;
font-family: inherit;
}

#gform_wrapper_1 .gform_footer {
	margin: 0;
	padding: 0;
	input[type=submit] {
		padding: .7em;
		/* background: #ee3b28; */
		font-size: 2em;
	}
}



.instruction { display: none !important; }

#input_1_8 { width: 80px !important; }

#choice_12_1, #choice_13_1 {
	float: left;
	margin-right: .5em;
}

.gchoice_12_1, .gchoice_13_1 {
	margin-bottom: .5em;
	label {
		position: relative;
		top: 2px;
	}
}

#field_1_13 { width: 400px; }

#field_1_14 { display: none; }

.fileinput-button { 
	float: left; 
	margin-right: 1em; 
}

.progress {
	margin-top: 30px;
	margin-bottom: 0;
	width: 72%;
}

.file-uploader .files { margin: 2em 0; }

#field_1_9 .gfield_description { display: none; }

#input_1_8 { margin-right: 30px; }

#field_1_8.gfield_error {
	margin-right: 2em;
}

#field_1_9 #input_1_9 {
	margin-right: 0; 
	width: 395px !important;
}

#field_1_9.rightfix #input_1_9 {
margin-right: 4.5em;
width: 310px !important;
}

#input_1_10 {
	padding: .5em;
	width: 522px;
	height: 128px;
	border: 0;
	background: #444;
	color: #08c;
	font-size: 1.2em;
}

li#field_1_10 {
	float: left;
	margin-right: 2em;
}

li#field_1_12 { 
	margin-top: .3em; 
	width: 480px;
	.gfield_description {
		margin-top: -7px;
		padding-top: 0;
		font-size: .8em;
		font-family: $hbm;
	}
}

#input_2_5 {
	margin-bottom: 1.5em;
	padding: .8em;
	width: 700px; 
	font-size: 1em;
}

.gform_confirmation_message_1 {
	margin: 1.5em 0;
	font-size: 1.5em;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 8px 5px;
    height: 36px;
    border: 0 !important;
    border-radius: 6px;
    background: none repeat scroll 0 0 #444444;
    box-shadow: none;
    color: #08c;
    text-indent: 6px;
    font-size: 14px;
    font-family: "Lato",sans-serif;
    transition: border 0.25s linear 0s, color 0.25s linear 0s;
}

#gform_2 input[type=text], #gform_2 input[type=url], #gform_2 input[type=email], #gform_2 input[type=tel], #gform_2 input[type=number], #gform_2 input[type=password] { float: none; }

#field_2_6 { display: none; }

#input_2_4 { font-size: 1em; }

.lwa-form label { margin-bottom: 0px; }

.lwa-form input[type="text"] { font-size: 1em; }

.lwa-rememberme { float: left; margin-right: 5px !important; }

.lwa-links-remember { font-size: .875rem; }

.gecko .lwa-links-remember, .safari .lwa-links-remember,{ 
	position: relative;
	top: -3px;
}

.lwa td.avatar { 
	/* width: 50px; */ 
}

.gecko .lwa td.avatar { // fix for Firefox - not sure why it is doing this but whatevs
margin-right: 1em; 
	img { margin-right: 1em; }
}

.lwa-info {
    position: relative;
	left: 1em;
    padding-top: 0 !important;
    text-transform: lowercase;
}

.file-uploader p { margin-top: .5em; }

.upload-button {
	display: none;
}

#upload_btn {
	padding: 1em 3em;
	font-size: 2em;
}

.home #upload_btn {
	padding: 1em 2em;
	font-size: 1.5em;
}

.ss-share {
	padding-left: 0;
	list-style: none; }
	
.ss-share-item {
	display: inline;
	margin-right: 1em; }	

.ss-share-link {
	padding: .5em .75em .5em 35px;
	border: 0;
	border-radius: 2px;
	background-color: #444;
	color: #888;
	text-decoration: none;
	font-weight: normal;
	font-size: .875em;
	opacity:0.8;	
	&:hover,
	&:active,
	&:focus {
		color: #999;
		opacity: 1;	
	}
}

[class*="ico-"] {
	z-index: 10;
	display: inline-block;
	background-position: 10px center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.ico-facebook {
	background-image: url('http://www.facebook.com/favicon.ico');
}
	
.ico-twitter {
	background-image: url('http://twitter.com/favicons/favicon.ico');
}

.ico-google {
	background-image: url('https://ssl.gstatic.com/s2/oz/images/faviconr2.ico');
}


.qtip-hbm {
	border:0;
	background-color: darken($hbm-orange, 5%);
	color: #454545;
}


.alert-message { position: absolute; }

.alert-message.success {
  float: none !important;
  margin: 1em 0;
	width: 300px !important;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
	background: #7ACC29 !important;
  background-image: none !important;
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
	text-shadow: none !important;
  font-size: .875em;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  .message-header, strong { color: #222; }
}
  
	
	

.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {

  font-weight: 500;
  font-size: 14.994px;
  /* 15px */
}
.btn {
  padding: 9px 12px 10px;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #bdc3c7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  outline: none;
  background-color: #cacfd2;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.75);
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-large {
  padding: 12px 18px 13px;
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
.btn.btn-primary {
  background-color: #1abc9c;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-warning {
  background-color: #f1c40f;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: #f5d313;
}
.btn.btn-warning:active,
.btn-group.open .btn.btn-warning.dropdown-toggle,
.btn.btn-warning.active {
  background-color: #cda70d;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn > [class^="fui-"] {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0 4px;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
  top: 0;
  font-size: 16px;
}
.btn-tip {
  padding-left: 10px;
  font-weight: 300;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-right: 13px;
  padding-left: 13px;
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-right: 3px;
  margin-left: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-right: 7px;
  margin-left: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-right: 0;
  margin-left: 0;
}
.caret {
  border-style: solid;
  border-top-width: 8px;
  border-top-color: #34495e;
  border-right-width: 6px;
  border-bottom-style: none;
  border-bottom-color: #34495e;
  border-left-width: 6px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1.001);
  -moz-transform: scale(1.001);
  -ms-transform: scale(1.001);
  -o-transform: scale(1.001);
  transform: scale(1.001);
  -webkit-backface-visibility: hidden;
}
.dropup .caret,
.dropup .btn-large .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 7px;
}
.btn-large .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 8px 5px;
  height: 21px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: 6px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #b2bcc5;
}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #b2bcc5;
}
textarea.placeholder,
input[type="text"].placeholder,
input[type="password"].placeholder,
input[type="datetime"].placeholder,
input[type="datetime-local"].placeholder,
input[type="date"].placeholder,
input[type="month"].placeholder,
input[type="time"].placeholder,
input[type="week"].placeholder,
input[type="number"].placeholder,
input[type="email"].placeholder,
input[type="url"].placeholder,
input[type="search"].placeholder,
input[type="tel"].placeholder,
input[type="color"].placeholder,
.uneditable-input.placeholder {
  color: #b2bcc5;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea.flat,
input[type="text"].flat,
input[type="password"].flat,
input[type="datetime"].flat,
input[type="datetime-local"].flat,
input[type="date"].flat,
input[type="month"].flat,
input[type="time"].flat,
input[type="week"].flat,
input[type="number"].flat,
input[type="email"].flat,
input[type="url"].flat,
input[type="search"].flat,
input[type="tel"].flat,
input[type="color"].flat,
.uneditable-input.flat {
  border-color: transparent;
}
textarea.flat:hover,
input[type="text"].flat:hover,
input[type="password"].flat:hover,
input[type="datetime"].flat:hover,
input[type="datetime-local"].flat:hover,
input[type="date"].flat:hover,
input[type="month"].flat:hover,
input[type="time"].flat:hover,
input[type="week"].flat:hover,
input[type="number"].flat:hover,
input[type="email"].flat:hover,
input[type="url"].flat:hover,
input[type="search"].flat:hover,
input[type="tel"].flat:hover,
input[type="color"].flat:hover,
.uneditable-input.flat:hover {
  border-color: #bdc3c7;
}
textarea.flat:focus,
input[type="text"].flat:focus,
input[type="password"].flat:focus,
input[type="datetime"].flat:focus,
input[type="datetime-local"].flat:focus,
input[type="date"].flat:focus,
input[type="month"].flat:focus,
input[type="time"].flat:focus,
input[type="week"].flat:focus,
input[type="number"].flat:focus,
input[type="email"].flat:focus,
input[type="url"].flat:focus,
input[type="search"].flat:focus,
input[type="tel"].flat:focus,
input[type="color"].flat:focus,
.uneditable-input.flat:focus {
  border-color: #1abc9c;
}

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  border-color: #d5dbdb;
  background-color: #f4f6f6;
  color: #d5dbdb;
  cursor: default;
}
input,
textarea,
.uneditable-input {
  /* width: 192px; */
}
textarea {
  padding: 5px 11px;
  height: auto;
  text-indent: 0;
  font-size: 14.994px;
  /* 15px */

  line-height: 24px;
}
.row-fluid textarea {
  width: 100% !important;
  height: auto;
}
textarea[class*="span"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}
.checkbox,
.radio {
  position: relative;
  margin-bottom: 12px;
  padding-left: 32px;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
  -webkit-backface-visibility: hidden;
}
.checkbox input,
.radio input {
  display: none;
  outline: none !important;
}
.checkbox .icons,
.radio .icons {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  color: #bdc3c7;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
  -webkit-backface-visibility: hidden;
}
.checkbox .icons .first-icon-icon,
.radio .icons .first-icon-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.checked,
.radio.checked {
  color: #16a085;
}
.checkbox.checked .icons,
.radio.checked .icons {
  color: #1abc9c;
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled,
.radio.disabled {
  color: #e6e8ea;
  cursor: default;
}
.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #e6e8ea;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #e6e8ea;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.not_valid {
  background: #fbd8db !important;
  color: #90111a !important;
}
.progress {
  height: 12px;
  border-radius: 32px;
  background: #ebedef;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar {
  background: #1abc9c;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar-success {
  background-color: #2ecc71;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar-warning {
  background-color: #f1c40f;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar-danger {
  background-color: #e74c3c;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar-info {
  background-color: #3498db;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.tooltip {
  font-size: 14px;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top {
  padding-bottom: 9px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  margin-left: -9px;
  border-width: 9px 9px 0;
  border-top-color: #34495e;
}
.tooltip.right .tooltip-arrow {
  left: -3px;
  margin-top: -9px;
  border-width: 9px 9px 9px 0;
  border-right-color: #34495e;
}
.tooltip.bottom {
  padding-top: 8px;
}
.tooltip.bottom .tooltip-arrow {
  top: -1px;
  margin-left: -9px;
  border-width: 0 9px 9px;
  border-bottom-color: #34495e;
}
.tooltip.left .tooltip-arrow {
  right: -3px;
  margin-top: -9px;
  border-width: 9px 0 9px 9px;
  border-left-color: #34495e;
}
.tooltip-inner {
  padding: 12px 12px;
  width: 183px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #34495e;
  text-align: center;
  line-height: 17.99px;
}

.qtip-default {
	border-width: 0;
	border-style: solid;
	border-color: #FFFFA3;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
	background-color: #FFFFA3;
	color: #555;
}

.qtip-default .qtip-titlebar {
	-webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
	background-color: #FFDB4D;
	color: $hbm-red;
}